.button {
  padding: 0.625rem 1.625rem;
  border-radius: 10px;
  border: 0;

  font-weight: 500;
  font-size: 0.875rem;

  border: 1px solid transparent;

  &.primary {
    background-color: var(--primary);
    color: var(--white);
    transition: filter 200ms;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &.secondary {
    background-color: var(--white);
    border-color: var(--primary);
    color: var(--primary);
    transition: all 200ms;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
      border-color: transparent;
    }
  }
}
