.header {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 2rem;
}

.headerTitle {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--text-dark);
  margin-bottom: 0.875rem;
}

.headerDescription {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--text-dark);
}
